*{
    margin: 0;
    padding: 0;
}

.carousel-item:active{
  margin: 0 auto;
}
.card{
    background-color: lightgray;
    width: 50%;
    border-collapse: collapse;
    text-align: center;
}
footer{
    background-color:#2E2E2E;
    text-align: center;
    color: white; 
}
#p{
  background-color:lightgray;  
}
#o{
    background-color: gray;
}
#carouselExampleIndicators{
  background: grey;
}
.jumbotron{
  animation-delay: 3s;
}
.overview{
  animation-delay: 5s;
}
.card-title1{
  animation-delay: 6s;
}
.card-text1{
  animation-delay: 6s;
}
.card-title2{
  animation-delay: 7s;
}
.card-text2{
  animation-delay: 7s;
}
.card-title3{
  animation-delay: 8s;
}
.card-text3{
  animation-delay: 8s;
}
.card-title4{
  animation-delay: 9s;
}
.card-text4{
  animation-delay: 9s;
}
.card-title5{
  animation-delay: 10s;
}
.card-text5{
  animation-delay: 10s;
}
.card-title6{
  animation-delay: 11s;
}
.card-text6{
  animation-delay: 11s;
}
.card-title7{
  animation-delay: 12s;
}
.card-text7{
  animation-delay: 12s;
}
.card-title8{
  animation-delay: 13s;
}
.card-text8{
  animation-delay: 13s;
}
.card-title9{
  animation-delay: 14s;
}
.card-text9{
  animation-delay: 14s;
}
.container{
  animation-delay: 16s;
}
